html, body {
  /*height: 100%;*/
  margin: 0;
  /*overflow-y: hidden;*/
}

.App {
  display: flex;
  /*text-align: center;*/
  /*justify-content: center;*/
}

.App-header {
  background-color: #282c34;
  /*display: flex;*/
}

.Header {
  /*background-color: aquamarine;*/
  /*align-items: center;*/
  /*font-size: calc(10px + 2vmin);*/

/*  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;*/
  color: white;
  padding: 5%;
}

.Gallery {
  background-color: white;
  position: relative;
  right: 0;
  max-width: 600px;
  overflow: scroll;
  /*width: 50%;*/
  /*max-height: 100vh;*/

}

.gallery-wrapper {
  position: relative;
  padding: 3% 4% 1% 4%;
}

.img-gallery-item {
  position: relative;
  padding-bottom: 5%;
  top: 0;
  left: 0;
}

.react-player-item {
  position: relative;
  padding-bottom: 5%;
  top: 0;
  left: 0;
}

.text-fix {
  color: dimgrey;
}

/*---------STUFF I'M NOT USING BUT AM SCARED TO DELETE-----------*/
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

